.form-control {
    box-shadow: 5px 5px 20px -5px black;
}

h3 {
    text-shadow: 5px 5px 20px black;
}

.repo {
    background-color: #F7B801;
    box-shadow: 2px 2px 10px 1px black;
}

.repo:hover {
    background-color: #dea705;
}