.github {
    height: 70px;
    width: auto;
    transform: scale(.9);
}

.github:hover {
    transform: scale(1);
}

.linkedin {
    height: 100px;
    width: auto;
    transform: scale(1.2);
}

.linkedin:hover {
    transform: scale(1.3);
}

.twitter:hover {
    transform: scale(1.1);
}

.react {
    transform: scale(0.15);
    margin-top: -85px;
    margin-bottom: -70px;
    margin-left: -80px;
}

.made {
    margin-left: -80px;
}